.quest-card-modal {
  background-image: url("../assets/WEB_quest1.png");
  background-size: 170% 130%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px; /* Set to the exact width of WEB_quest1.png */
  height: 400px; /* Set to the exact height of WEB_quest1.png */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10vh;
}

.quest-card-title {
  padding: 10px;
  text-align: center;
  color: #d32f2f;
  font-weight: bold;
  font-size: 1.5rem;
  background: none;
}

.quest-card-content {
  padding: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}

.quest-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  background: none;
  padding: 8px;
}

.quest-description {
  font-size: 1rem;
  color: #000;
  text-align: center;
  background: none;
  padding: 8px;
}

.action-button {
  background-color: #1976d2;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.action-button:hover {
  background-color: #1565c0;
}

.quest-card-actions {
  padding: 10px;
  background: none;
}

.close-button {
  background-color: #fff;
  color: #1976d2;
  border: 1px solid #1976d2;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.close-button:hover {
  background-color: #f5f5f5;
}